body {
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
  }
  h1 {
    background-color: #efefef;
    padding: 10px;
  }
  p {
    width: 450px;
  }
  
  .absolute {
    position: absolute;
    top: 40px;
    left: 300px;
  }
  .tailbar {
    width: 300px;
    height: 100px;
    background-color: yellow;
    text-align: center;
    padding: 20px;
    position: absolute;
    left: 100px;
    top: 650px;
  }
  